/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:20px;
   justify-content:center;
   align-content:center;
}

.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column width for smaller screens */
  }
}

